.container {
    display: flex;
    min-height: 100vh;
    align-items: flex-start;
    background-color: #f3f3f3; 
}


.content {
    flex: 1;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f3f3f3;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin-bottom: 1.5rem;
    padding: 1rem;
    background-color: #a7cfe7;
    color: rgb(0, 0, 0);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.header h1 {
    margin: 0;
    font-size: 1.5rem;
}

.addButton {
    background-color: #28a745 !important;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    padding: 0.75rem 1.5rem;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.addButton:hover {
    background-color: #218838 !important;
}


.dataTable {
    background-color: rgb(27, 65, 121);
    width: 100%; 
    max-width: 1200px;
    margin-top: 1rem;
    padding: 10px;
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
