.container {
    width: 80%;
    /* border: 1px solid #000; */
    margin: 30px auto;
}

.h1_ventas {
    text-align: center;
    margin-bottom: 50px;
    /* border: 1px solid #000; */
    margin-top: 30px;
}

.container_form {
    /* border: 1px solid #000; */
    display: flex;
    justify-content: center;
}

.sales_form {
    padding: 40px;
    width: 500px;
    background: #7d96c0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
    text-align: center;
    /* border: 1px solid #000; */
}

.sales_form h1 {
    color: #ffffff;
    margin-bottom: 20px;
    font-size: 2.5em;
}

.field {
    width: 100%;
    margin-bottom: 20px;
    text-align: left;
}

.modal_buttons {
    font-size: 10px;
    display: flex;
    justify-content: center;
    margin: 0px;
}

.field label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #ffffff;
}

.field input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 16px;
    box-sizing: border-box;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.field input:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

button[type="submit"] {
    padding: 12px 20px;
    font-size: 16px;
    background-color: #28a745;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #218838;
}