
.login_container {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url('../src/assets/fondo.jpg'); /* Reemplaza con la ruta de tu imagen */
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login_container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Color de fondo con opacidad */
    backdrop-filter: blur(10px); /* Aplicar blur */
    z-index: 1;
}

.field {
    margin-bottom: 1.5em;
}

.field label {
    display: block;
    margin-bottom: 0.5em;
    color: #888;
    font-size: 0.9em;
}

.field input {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ddd;
    font-size: 1em;
    color: #000000;
}

.field input:focus {
    outline: none;
    border-color: #000000;
}

#iniciar {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 8px;
    background: #007bff;
    color: white;
    font-size: 1em;
    cursor: pointer;
    transition: all 0.3s;
}

#iniciar:hover {
    background: #0056b3;
}

.message {
    margin-top: 20px;
    font-size: 0.9em;
}

.message-error {
    color: #f44336;
}

.message-success {
    color: #4caf50;
}
